<h1>Recipe: <%= @recipe.name() %></h1>

<form action="/recipes/<%= @recipe.id() %>" method="post">
  <input type='hidden' name="_method" value="patch">
  <label for="recipe_name"> Name your recipe </label>
  <input text="text" name="recipe_name">
  <button type="submit">Name</button>
</form>

<hr>

<% if @ingredients.any? %>
<h3> Here are the ingredients in your recipe </h3>
<ul class="ingredient-list">
<% @ingredients.each() do |ingredient| %>
  <li><%= ingredient.ingredient() %>
    <form action="/ingredients/<%= ingredient.id()%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="recipe_id" value="<%= @recipe.id() %>">
        <button class="ingredient-btn btn btn-warning"type="submit">X</button>
    </form>
  </li>
  <% end %>
</ul>
<% else %>
<h3> There are no ingredients in your recipe </h3>

<% end %>
<div class="clearfix"></div>
<hr>

<form action="/ingredients" method="post">
  <input type="hidden" name="recipe_id" value="<%= @recipe.id() %>">
  <input type="text" name="ingredient">
  <button type="submit">Add Ingredient</button>
</form>

<hr>

<form action="/recipes/<%= @recipe.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class='btn btn-danger' type="submit">Delete Recipe</button>
</form>
<hr>
<a href="/">Home (Add a New Recipe)</a>
<br>
<a href="/recipes">See All Recipes</a>
